*.[oa]
*~
*.mod
test_timing
testprogram
test_timing_inverter
bfss_device_serial
bfss_host_serial
bfss_mparallel
bfss_device_serial_hyst
bfss_host_serial_read
Makefile.inc
.cproject
.project
__MACOSX
*.bak
